@import "tailwindcss";

@theme {
  --font-sans: "Cairo", "sans-serif";
  
  --color-primary-50: #f0fdfa;
  --color-primary-100: #ccfbf1;
  --color-primary-200: #99f6e4;
  --color-primary-300: #5eead4;
  --color-primary-400: #2dd4bf;
  --color-primary-500: #14b8a6;
  --color-primary-600: #0d9488;
  --color-primary-700: #0f766e;
  --color-primary-800: #115e59;
  --color-primary-900: #134e4a;
  --color-primary-950: #042f2e;

  /* Custom sizes, spacing relative to RTL logic if needed */
  /* Recharts custom axis style override */
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    font-family: var(--font-sans);
  }
}

/* Custom Scrollbar for a more polished look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
